@import "_boilerplate.scss";

html, body {
  height: 100%;
  overflow: hidden;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container {
}

.space {
    position: absolute;
    height: 100%;
    width:  100%;
    top:  0;
    left: 0;
    
    &:hover {
        cursor: move;
    }
    
    article {
        position: absolute;
        padding: 1%;
        width: 25%;
        
        &.dragging {
            opacity: .5;
        }
        
        &.dropped {
            @include transition(all .125s cubic-bezier(0.19, 1, 0.22, 1))
        }
    }
    
    img {     
        margin:  0;
        padding: 0;
        width: 100%;
    }
}