@import "compass/reset";

html, body {
  height: 100%;
  overflow: hidden;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container {
}

.space {
    background: red;
    position: absolute;
    height: 100%;
    width:  100%;
    top:  0;
    left: 0;
    article {
        position: absolute;
        padding: 1%;
        width: 25%;
    }
    
    img {
        margin:  0;
        padding: 0;
        width: 100%;
    }
}