@import "compass/reset";

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#space {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

article {
    position: absolute;
    float: left;
    margin: 0;
    padding: 0.5em;
    background-color: #efefef;
}

img {
    margin: 0;
    padding: 0;
}